
#one, #two, #three {
    width:30%;
    height:500px;
    display:inline-block;
  }
  .a, .b, .c, 
  .d, .e, .f,
  .g, .h, .i {
      margin-top:5px;
      width:100%;
  }
  .a {height:90px;background:green;}
  .b {height:50px;background:silver;}
  .c {height:150px;background:orange;}
   
  .d {height:150px;background:green;}
  .e {height:90px;background:silver;}
  .f {height:50px;background:orange;}
   
  .g {height:50px;background:green;}
  .h {height:150px;background:silver;}
  .i {height:90px;background:orange;}
  

// .example_blog{
    // padding-top: 50px;
    // padding-bottom: 50px;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // height: 600px;
//   .xxx{
//     width: 292.5px;
//     height: 400px;
//     background: gold;
//   }
//   .xxxxxx{
//     background: green;
//     width: 292.5px;
//     height: 200px;
//   }
// }



